.stages {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    max-width: 2000px;
    margin: 0 auto;
    padding-top: 5rem;

    .boxes {
        display: grid;
        border-radius: 25px;
        border: 1px solid #000;
        padding: 2rem;

        .stage_title {
            display: inline-flex;
        }

        .fimini {
            display: flex;
            align-items: start;
            justify-content: space-between;

            div:nth-child(1) {
                font-size: 32px;
                padding-bottom: 3rem;
            }

            div:nth-child(2) {
                padding: .5rem;
                border-radius: 10px;
                background-color: #D9D9D9;
                color: black;
            }
        }

        &:nth-child(1) {
            border: none;
            padding: 0;
        }

        &:nth-child(3) {
            grid-column: 3/5;
            grid-row: 1/1;
        }

        &:nth-child(6) {
            grid-column: 4/4;
        }

        .stage_title {
            text-transform: uppercase;
            color: #000;
            font-family: Inter;
            font-size: 20px;
            font-style: italic;
            font-weight: 500;
            line-height: normal;
        }
    }
}

@media (max-width: 767px) {
    .stages {
        grid-template-columns: 1fr;
        padding: 1rem;
        margin-top: 3.45rem;

        .boxes {
            padding: 1rem;
    
            .fimini {
    
                div:nth-child(1) {
                    font-size: 24px;
                    padding-bottom: 1rem;
                }
    
                div:nth-child(2) {
                    font-size: small;
                }
            }

            div {
                span {
                    font-size: small;
                }
            }
    
            &:nth-child(3) {
                grid-column: auto;
                grid-row: auto;
            }
    
            &:nth-child(6) {
                grid-column: auto;
            }
        }
    }
}

@media (min-width: 767px) and (max-width: 900px) { 
    .stages .boxes {
        padding: .6rem;
    }

    .fimini {
        div:nth-child(2) {
            margin-top: .3rem;
            font-size: 10px;
            border-radius: 10px;
            background-color: #D9D9D9;
        }
    }
}