.contact {
  display: grid;
  max-width: 2000px;
  margin: 0 auto;

  .contact_title {
    text-transform: uppercase;
    color: black;
    font-family: Inter;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    display: inline-flex;
  }

  div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div:nth-of-type(2) h2 {
    font-weight: 300;
  }

  div:nth-of-type(2) p {
    max-width: 1000px;
    text-align: center;
    margin-bottom: 50px;
  }

  .container {
    // max-width: 600px;
    width: 100%;
    margin: 0 auto;
    // padding: 20px;
    // background-color: #f9f9f9;
    // border-radius: 8px;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .addgap {
      display: grid;

      .forms {
        display: grid;
        border-top: 1px solid black;
        padding: 1em;

        label {
          display: flex;
          align-items: center;
          font-size: 32px;
          margin-bottom: .5em;
          color: #333;

          span {
            display: inline-block;
            font-size: 16px;
            margin-right: 0.5em;
            color: #8E8383;
            width: 2em;
          }

          @media (max-width: 768px) {
            font-size: 16px;
          }
        }

        .input {
          padding: .6em .6em .6em 1em;
          margin: 10px 0 10px 0;
          display: inline-block;
          margin-left: 3em;
          max-width: 600px;
          border: none;
        }

        textarea {
          padding: 0.8em 1em;
          border-radius: 8px;
          max-width: 600px;
          margin-left: 3em;
        }

        textarea {
          resize: vertical;
        }
      }
    }

    @media (min-width: 820px) and (max-width:1024) {
      .button_center {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}