.main {
  margin-top: .5vh;
  color: black;
  padding-bottom: 3vh;
  user-select: none;
  padding: 1rem;

  .firstPage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh; width: 100%;
  }
}