    .elements {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 30px 40px;
        transition: all .2s;
        border-top: 1px solid rgb(201, 201, 201);

        &:last-of-type {
            border-bottom: 1px solid rgb(201, 201, 201);
        }

        &:hover {
            opacity: .5;

            p:first-child {
                color: oklch(45.935% 0.11079 242.863);
            }
        }

        h2 {
            font-size: 60px;
            margin: 0px;
            font-weight: 600;
            transition: all .4s;
            color: oklch(90.1% 0.058 230.902);
        }

        p {
            transition: all .4s;
            font-weight: 300;
        }

        .info {
            display: flex;

            div:nth-of-type(2) {
                font-size: 14px;
                padding-top: 20px;
                color: oklch(70.4% 0.04 256.788);

                @media (min-width: 1024px) and (max-width: 1440px) {
                    display: none;
                }
            }
        }

        .info_proj {
            text-align: start;

            p:first-child {
                font-weight: 500;
                font-size: 32px;
            }

            p:last-child {
                font-size: 12px;
                max-width: 500px;
            }
        }

        &:hover {

            h2 {
                transform: translateX(-20px);
            }

            div:first-of-type p {
                transform: translateX(-20px);
                transition: transform .5s ease-in-out;
                transition-delay: .2s;
            }

            p {
                transform: translateX(20px);
            }

            div:nth-of-type(2) p:last-of-type {
                transform: translateX(20px); 
                transition: transform .5s ease-in-out;
                transition-delay: .2s;
            }
        }
    }