$small: 300px;
$medium: 990px;
$big: 1280px;

.firstPage {
    position: relative;
    height: 40vh;
    display: flex;
    overflow: hidden;

    .sliderContainer {
      position: absolute;
      top: calc(50vh - 450px);
    }

    .slider {
      position: relative;
      white-space: nowrap;
      display: flex;
    }

    .slider p {
      margin: 0px;
      color: black;
      font-size: 230px;
      font-weight: 500;
      padding-right: 50px;
      position: relative;
    }

    .slider p:nth-of-type(2) {
      position: absolute;
      left: 100%;
      top: 0s;
    }

    @media screen and (min-width: $small) and (max-width: $medium) {
      .slider p {
        font-size: 80px;
      }

      .sliderContainer {
        position: absolute;
        top: calc(40vh - 200px);
      }
    }

    @media screen and (min-width: $medium) and (max-width: $big) {
      .slider p {
        font-size: 100px;
      }

      .sliderContainer {
        position: absolute;
        top: calc(40vh - 200px);
      }
    }
  }