.defaultColor {
  color: black;
  transition: color .5s ease-in-out; 
}

.colored {
  transition: color .5s ease-in-out;
}

.blue {
  color: #22d3ee;
}

.green {
  color: #4ade80;
}

.purple {
  color: #a78bfa;
}